In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\durga reddy\anaconda3\lib\site-packages (1.24.3)

In [2]:
import numpy as np

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\durga reddy\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\durga reddy\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\durga reddy\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\durga reddy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\durga reddy\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\durga reddy\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd
Hourly_data=pd.read_csv("AEP_hourly.csv")

In [8]:
print(Hourly_data.head())

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0
2  2004-12-31 03:00:00  12577.0
3  2004-12-31 04:00:00  12517.0
4  2004-12-31 05:00:00  12670.0

In [9]:
Daily_data=pd.read_csv("daily_values_ee.csv")

In [11]:
print(Daily_data.head())

         Date  53_kW_mean  53_kW_max  71_kW_mean  71_kW_max  71A_kW_mean  \
0  08/06/2018       52.79      67.96       89.46     115.07       111.90
1  09/06/2018       37.91      48.90       56.49      82.70        64.58
2  10/06/2018       32.76      42.79       46.89      75.51        63.68
3  11/06/2018       50.77      64.72       76.27     129.45       117.30
4  12/06/2018       50.02      62.57       91.19     115.07       131.07

   71A_kW_max  83_kW_mean  83_kW_max  totalkW_mean  ...  83_kW_time_max  \
0      151.02       92.41     160.01        346.46  ...           08:00
1       82.70       38.87      53.22        197.77  ...           17:00
2       68.32       31.72      37.40        175.04  ...           16:00
3      197.77       98.35     174.40        342.68  ...           14:00
4      201.37       99.07     170.80        371.45  ...           11:00

   71_71AkW_time_max  totalkW_time_max  CDD_15  HDD_25  NWD  temp_max  \
0              11:00             11:00     1.2     9.1    0      20.8
1              15:00             01:00     1.7     8.9    0      19.7
2              01:00             02:00     4.1     5.9    0      24.5
3              17:00             17:00     7.1     3.2    0      27.8
4              15:00             15:00     8.3     2.2    0      27.9

   insolation  temp_mean     RH
0         0.6      16.10  83.25
1         0.6      15.82  86.75
2         2.3      19.14  83.25
3         6.2      21.58  71.25
4         4.9      23.46  59.00

[5 rows x 34 columns]

## data pre processing

In [13]:
Hourly_data.dropna(inplace=True)
Daily_data.dropna(inplace=True)